section#intro 
  p.intro Brunchline is a #[a(href="http://brunch.io/") Brunch] skeleton for front-end design using #[span.bold Pug], #[span.bold Sass], #[span.bold PostCSS] plugins and various other helpers.
