$header-h: 60px;

header.primary {
  height: $header-h;
  display: flex;
  align-items: center;
  margin-top: 40px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;

  transition: 0.3s all ease-in-out;

  &.js-is-sticky {
    background: scale-color($theme-secondary, $lightness: -60%);
    height: $header-h - 15px;
    transition: 0.3s all ease-in-out;

    &:hover {
      height: $header-h + 30px;
    }
  }

  // &::after {
  //   content: "";
  //   border-bottom: 9px dotted scale-color($theme-secondary, $lightness: 12%);
  //   position: absolute;
  //   left: 45px;
  //   right: 45px;
  //   bottom: 0;
  //   z-index: 0;
  // }

  a {
    border-bottom: 2px solid transparent;
    color: $white;
    text-decoration: none;

    &.home {
      border-color: scale-color($theme-secondary, $lightness: 30%);
      font-weight: 700;
    }

    &:hover,
    &:active {
      border-color: scale-color($theme-secondary, $lightness: 90%);
      color: $white;
    }
  }

  ul.nav {
    @include list-reset();
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;

    a {
      margin: 0 24px;
    }

    li {
      font-size: ms(-2);
      font-weight: 400;
    }
  }
  // @media screen and (max-width: 500px) {
  // ul.nav li {
  // width: 100%;
  // }
  // }
}
