$header-h: 60px;

header.primary {
  @include full-width-bg(transparent);
  height: $header-h;
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 45px;
  // isolation: isolate;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: var(--z-above);

  &.js-is-sticky {
    &::before {
      background: mix($theme-bg, $black);
      // backdrop-filter: blur(30px);
    }

    // &:hover {
    //   height: $header-h + 30px; // this is nice but it doesn't play nice with sticky
    // }
  }

  // &::after {
  //   content: "";
  //   border-bottom: 9px dotted scale-color($theme-secondary, $lightness: 12%);
  //   position: absolute;
  //   left: 45px;
  //   right: 45px;
  //   bottom: 0;
  //   z-index: 0;
  // }

  a {
    border-bottom: 2px solid transparent;
    color: $white;
    text-decoration: none;

    &.home {
      border-color: scale-color($theme-secondary, $lightness: 30%);
      font-weight: 700;
    }

    &:hover,
    &:active {
      border-color: scale-color($theme-secondary, $lightness: 90%);
      color: $white;
    }
  }

  ul.nav {
    @include list-reset();
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;

    a {
      margin: 0 24px;
    }

    li {
      font-size: ms(-2);
      font-weight: 400;
    }
  }
  // @media screen and (max-width: 500px) {
  // ul.nav li {
  // width: 100%;
  // }
  // }
}
