@mixin full-width-bg($bg: $theme-secondary) {
  transition: 0.3s background ease-in-out;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: calc(var(--z-above) - 1);
  &::before {
    background: $bg;
    content: "";
    transition: 0.3s background ease-in-out;
    position: absolute;
    bottom: 0;
    top: 0;
    left: -100%;
    right: -100%;
    z-index: -1;
  }
}
