[id="features"] {
  background: linear-gradient(transparent, $theme-secondary, $yellow);
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  background-size: 300%;
  color: $white;

  ul.features {
    @include flex-grid();
    @include list-reset();

    * {
      line-height: 1.5;
    }

    a {
      color: $white;
      text-decoration-color: $yellow;

      &:hover {
        color: $yellow;
      }
    }

    li {
    }
  }
}
