body.home {
  // background: $sea;
  background: linear-gradient(-150deg, $purple, $blue, $teal);
  background-attachment: local;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 240%;
  color: fade-out($white, 0.45);
  // mix-blend-mode: multiply;
  // padding-top: 30px;

  &::after {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;

    content: "";
    background: radial-gradient($violet, $yellow, $teal);
    background-attachment: local;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 330%;
    mix-blend-mode: color;
    opacity: 0.3;

    pointer-events: none;
  }

  .bg {
    height: 2106px;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: var(--z-default);
  }

  .content {
    height: 100%;
    section {
      > * {
        padding: 0 6%;
      }
      &:not([id="intro"]) {
        margin-bottom: 45px;
      }
      h2 {
        @include full-width-bg(transparent);
        display: flex;
        align-items: center;
        color: $yellow;
        font-weight: 700;
        height: $header-h/2;
        letter-spacing: 0.3rem;
        margin-bottom: 45px;
        // padding-bottom: ms(0);
        // padding-top: ms(0);
        position: sticky;
        top: $header-h;
        text-transform: uppercase;
        transition-property: background, margin;

        &.js-is-sticky {
          color: scale-color($theme-accent, $lightness: -60%);
          transition-property: background, margin;
          // margin-bottom: 60px;
          &::before {
            background: $theme-accent;
          }
        }
      }

      h3 {
        a {
          color: $white;
        }
      }
      a {
        color: $white;
        text-decoration-color: $yellow;

        &:hover {
          color: $yellow;
        }
      }
    }
  }
}
