.fullscreen-bg
  video(loop muted autoplay poster="" class="" width="2400" height="1080")
    source(src="vid/bg-test--hi-res.mp4" type="video/mp4")

main
  h1 test

aside 
  p $50
  p Description or something.

section.blank
  
section.about 
  p idk write something cute in here ???
