@keyframes rot360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-369deg);
  }
}

@keyframes ants {
  0 {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 2000;
  }
}
