$header-h: 45px;

header {
  height: $header-h;
  position: fixed;
  top: 0;
  width: 100vw;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: fixed;
  top: $header-h;
  height: calc(100vh - #{$header-h});
  width: 100%;

  main {
    // background: $white;
    flex: 0 1 60%;
  }

  aside {
    flex: 0 1 39%;
  }
}

footer {
}
