$roboto: "Roboto", sans-serif;
$mono: "Roboto Mono", monospace;

$modularscale: (
  base: 1.2em,
  ratio: 1.2
);

body {
  font-family: $roboto;
  font-size: ms(0);
  color: $gray-d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $theme-primary;
  margin: 0;
}
code {
  background: fade-out($black, 0.5);
  border-radius: 3px;
  font-family: $mono;
  padding: 3px 7px 6px 7px;
  &.block {
    display: block;
    font-size: ms(-1);
    white-space: pre-line;
  }
}
.bold {
  font-weight: 500;
}
strong {
  font-weight: 900;
}
a,
a::after,
a::before {
  color: $link;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
  &:hover {
    color: scale-color($link, $lightness: 50%);
    transition: 0.3s all ease-in-out;
  }
}
.wavy {
  text-decoration: underline wavy $white;
}
