body.flow {
  background: url("/img/bg__hi-res.png");
  background-attachment: fixed;

  header,
  footer,
  .content > main,
  .content > aside {
    padding: 0 30px;
  }

  .fullscreen-bg {
    // background: linear-gradient(purple, orange);
    animation-name: rot360;
    animation-duration: 300s;
    animation-iteration-count: infinite;
    // border-radius: 50%;

    // mix-blend-mode: multiply;
    overflow: hidden;
    position: fixed;
    top: -75%;
    bottom: -75%;
    left: -75%;
    right: -75%;
    z-index: -50;

    video {
      // border-radius: 50%;
      position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      mix-blend-mode: darken;
      opacity: 0;

      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
    }
  }

  .content {
    mix-blend-mode: multiply; // bg over header
  }

  main {
    // background: $white;
    // height: 100%;
  }

  aside {
    color: $white;
  }

  section {
    background: fade-out(purple, 0.1);
    mix-blend-mode: overlay;
    height: 50%;
    width: 100%;
    z-index: 10;
  }
}
