extends templates/_layout

block vars
  - var pageTitle = "Brunch w/Pug + SCSS"
  - var bodyClass = "bodyClass"
  
block header
  include components/_header

block content
  .content
    include sections/_intro
    include sections/_features
    
block footer
  include components/_footer
