header.primary
  h1.h5.no-margin #[a(href="#top").home Brunchline]
  
  ul.nav
    a(href="#features")
      li Features
      
    a(href="#use")
      li Getting Started
      
    a(href="#roadmap")
      li Roadmap
      
    a(href="https://github.com/mandymcclausky/brunchline")
      li GitHub
      
