header.primary
  a(href="/").home Brunchline
  
  ul.nav
    a(href="#features")
      li Features
      
    a(href="#use")
      li Getting Started
      
    a(href="https://github.com/mandymcclausky/brunchline")
      li GitHub
      
