* {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  &::-webkit-scrollbar {
    appearance: none;
    background: transparent;
    position: absolute;
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: fade-out(mix($white, $theme-bg), 0.3);
  }

  &::-webkit-scrollbar-track {
    border: 0;
    background: mix($black, $theme-bg);
  }
}

header {
  padding: 0 6%;
}

.content {
  min-height: 100%;
}

header {
  padding: 0 6%;
}
footer {
  padding: 3% 6%;
}
